@{
    var area = User.IsInRole(AdminConstants.RoleName) ? AdminConstants.AreaName : string.Empty;
}

<h2 class="text-center text-secondary my-sm-3">@ViewBag.Title</h2>
<hr />
<div class="table-responsive">
    <table class="table" style="margin: auto; width: fit-content;">
        <thead>
            <tr>
                @if (area == AdminConstants.AreaName)
                {
                    <th scope="col">User Email</th>
                    <th scope="col">Is Deleted</th>
                }
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Photo URL</th>
                <th scope="col">Breed</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in Model)
            {
                <tr>
                    @if (area == AdminConstants.AreaName)
                    {
                        <td>@cat.UserEmail</td>
                        <td>@cat.IsDeleted</td>
                    }
                    <td scope="row">@cat.Name</td>
                    <td>@cat.Age</td>
                    <td>
                        <img src="@cat.PhotoUrl" style="width: 150px; height: auto">
                    </td>
                    <td>@cat.BreedName</td>
                    <td>
                        <a asp-area="@area" asp-action="Edit" class="btn primary-color" asp-route-catId="@cat.Id">Edit</a>
                        @if (area == AdminConstants.AreaName && cat.IsDeleted)
                        {
                            <a asp-area="@area" asp-action="Restore" class="btn primary-color" asp-route-catId="@cat.Id">Restore</a>
                        }
                        else
                        {
                            <a asp-area="@area" asp-action="Delete" class="btn primary-color" asp-route-catId="@cat.Id">Delete</a>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>