@model IEnumerable<CatViewModel>

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="heading-margin text-center">All cats</h1>

<table class="table table-responsive" style="margin: auto; width: fit-content">
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Photo URL</th>
        <th>Breed</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var cat in Model)
    {
        <tr>
            <td>@cat.Name</td>
            <td>@cat.Age</td>
            <td>
                <img src="@cat.PhotoUrl" style="width: 150px; height: auto">
            </td>
            <td>@cat.Breed.Name</td>
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@cat.Id">Edit</a>
                <a asp-action="Delete" class="btn btn-primary" asp-route-id="@cat.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<p class="text-center">
    <a class="btn btn-secondary" asp-action="Add">Add New</a>
</p>