@model IEnumerable<ResViewModel>

@{
    ViewBag.Title = "All Reservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center text-secondary my-sm-3">@ViewBag.Title</h2>
<hr />
<div class="row">
    @foreach (var res in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3 text-center">
                <img class="card-img-top mx-auto card-img-resize" src="~/images/038-pet-bed.png"  alt="Reservation picture">
                <div class="card-body">
                    <h5 class="card-title">Reservation</h5>
                    <p class="card-text">Arrival: @res.Arrival</p>
                    <p class="card-text">Departure: @res.Departure</p>
                    <div id="Cats" class="my-sm-3 d-none">
                        <p class="card-text font-weight-bold">Cats:</p>
                        @foreach (var cat in res.Cats)
                        {
                            <p class="card-text">@cat.Name - @cat.BreedName</p>
                        }
                    </div>
                    <button id="showCats" class="btn primary-color">Show Cats</button>
                    <button id="hideCats" class="btn primary-color d-none">Hide Cats</button>
                </div>
            </div>
        </div>
    }
</div>

<p class="text-center">
    <a asp-action="Create" class="btn btn-secondary">Create New</a>
</p>

@section scripts{
    <script>
        $('#showCats').on('click',
            ev => {
                document.getElementById('Cats').classList.remove('d-none');
                document.getElementById('hideCats').classList.remove('d-none');
                document.getElementById('showCats').classList.add('d-none');
            })
        $('#hideCats').on('click',
            ev => {
                document.getElementById('Cats').classList.add('d-none');
                document.getElementById('hideCats').classList.add('d-none');
                document.getElementById('showCats').classList.remove('d-none');
        })
    </script>
}