@model IEnumerable<ResServiceModel>

@{
    ViewBag.Title = "Active Reservations";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var counter = 0;

    ViewData["area"] = User.IsInRole(AdminConstants.AdminRoleName) ? AdminConstants.AdminAreaName : string.Empty;
}

@if (@Model.Any())
{
    @if (@Model.Any(r => r.ReservationState == ReservationState.Active && r.IsApproved))
    {
        <h2 class="text-center text-secondary my-sm-3">@ViewBag.Title</h2>
        <hr />
        <div class="row">
            @foreach (var res in @Model)
            {
                ViewData["counter"] = counter;
                @if (res.ReservationState == ReservationState.Active && res.IsApproved)
                {
                    <partial name="_ReservationPartial" for="@res" view-data="ViewData" />
                }
                counter += 1;
            }
        </div>
    }
}
else
{
    <h2 class="text-center text-secondary my-sm-3">@ViewBag.Title</h2>
    <hr />
    <div class="text-center" style="margin-bottom: 1rem">
        <h5>Currently you don't have any active reservations.</h5>
    </div>
}

<p class="text-center">
    <a asp-action="Create" class="btn btn-secondary">Create New</a>
</p>