@model ResFormModel

@{
    ViewBag.Title = "Create Reservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center text-secondary my-sm-3">@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Arrival" class="control-label"></label>
                <input asp-for="Arrival" class="form-control" />
                <span asp-validation-for="Arrival" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departure" class="control-label"></label>
                <input asp-for="Departure" class="form-control" />
                <span asp-validation-for="Departure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomTypeId"></label>
                <select asp-for="RoomTypeId" class="form-control">
                    @foreach (var room in Model.RoomTypes)
                    {
                        <option value="@room.Id">@room.Name - Price per day: @room.PricePerDay.ToString("f2") $</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CatIds"></label>
                <select class="custom-select" asp-for="CatIds" asp-items="@Model.Cats" class="form-select" multiple="multiple">
                    <option disabled="disabled">Select the cats for the reservation.</option>
                </select>
                <span asp-validation-for="CatIds" class="text-danger"></span>
            </div>
            <div class="form-group text-center my-sm-3">
                <input type="submit" value="Create" class="btn primary-color" />
            </div>
        </form>
    </div>
</div>
<form action="#" class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Arrival">From</label>
            <input asp-for="Arrival" class="form-control picker__input" id="input_from" placeholder="Start Date" readonly="" aria-haspopup="true" aria-expanded="false" aria-readonly="false" aria-owns="input_from_root">
            <span asp-validation-for="Arrival" class="text-danger"></span>
            <div class="picker" id="input_from_root" aria-hidden="true">

                <div class="picker__holder" tabindex="-1">
                    <div class="picker__frame">
                        <div class="picker__wrap">
                            <div class="picker__box">
                                <div class="picker__header">
                                    <div class="picker__month">August</div>
                                    <div class="picker__year">2021</div>
                                    <div class="picker__nav--prev" data-nav="-1" role="button" aria-controls="input_from_table" title="Previous month"> </div>
                                    <div class="picker__nav--next" data-nav="1" role="button" aria-controls="input_from_table" title="Next month"> </div>
                                </div>
                                <table class="picker__table" id="input_from_table" role="grid" aria-controls="input_from" aria-readonly="true">
                                    <thead>
                                        <tr>
                                            <th class="picker__weekday" scope="col" title="Sunday">Sun</th>
                                            <th class="picker__weekday" scope="col" title="Monday">Mon</th>
                                            <th class="picker__weekday" scope="col" title="Tuesday">Tue</th>
                                            <th class="picker__weekday" scope="col" title="Wednesday">Wed</th>
                                            <th class="picker__weekday" scope="col" title="Thursday">Thu</th>
                                            <th class="picker__weekday" scope="col" title="Friday">Fri</th>
                                            <th class="picker__weekday" scope="col" title="Saturday">Sat</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1627765200000" role="gridcell" aria-label="1 August, 2021">1</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1627851600000" role="gridcell" aria-label="2 August, 2021">2</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1627938000000" role="gridcell" aria-label="3 August, 2021">3</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1628024400000" role="gridcell" aria-label="4 August, 2021">4</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1628110800000" role="gridcell" aria-label="5 August, 2021">5</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1628197200000" role="gridcell" aria-label="6 August, 2021">6</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1628283600000" role="gridcell" aria-label="7 August, 2021">7</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1628370000000" role="gridcell" aria-label="8 August, 2021">8</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1628456400000" role="gridcell" aria-label="9 August, 2021">9</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1628542800000" role="gridcell" aria-label="10 August, 2021">10</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1628629200000" role="gridcell" aria-label="11 August, 2021">11</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1628715600000" role="gridcell" aria-label="12 August, 2021">12</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1628802000000" role="gridcell" aria-label="13 August, 2021">13</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1628888400000" role="gridcell" aria-label="14 August, 2021">14</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1628974800000" role="gridcell" aria-label="15 August, 2021">15</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1629061200000" role="gridcell" aria-label="16 August, 2021">16</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus picker__day--today picker__day--highlighted" data-pick="1629147600000" role="gridcell" aria-label="17 August, 2021" aria-activedescendant="true">17</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1629234000000" role="gridcell" aria-label="18 August, 2021">18</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1629320400000" role="gridcell" aria-label="19 August, 2021">19</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1629406800000" role="gridcell" aria-label="20 August, 2021">20</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1629493200000" role="gridcell" aria-label="21 August, 2021">21</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1629579600000" role="gridcell" aria-label="22 August, 2021">22</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1629666000000" role="gridcell" aria-label="23 August, 2021">23</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1629752400000" role="gridcell" aria-label="24 August, 2021">24</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1629838800000" role="gridcell" aria-label="25 August, 2021">25</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1629925200000" role="gridcell" aria-label="26 August, 2021">26</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1630011600000" role="gridcell" aria-label="27 August, 2021">27</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1630098000000" role="gridcell" aria-label="28 August, 2021">28</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1630184400000" role="gridcell" aria-label="29 August, 2021">29</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1630270800000" role="gridcell" aria-label="30 August, 2021">30</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1630357200000" role="gridcell" aria-label="31 August, 2021">31</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--outfocus" data-pick="1630443600000" role="gridcell" aria-label="1 September, 2021">1</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--outfocus" data-pick="1630530000000" role="gridcell" aria-label="2 September, 2021">2</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--outfocus" data-pick="1630616400000" role="gridcell" aria-label="3 September, 2021">3</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--outfocus" data-pick="1630702800000" role="gridcell" aria-label="4 September, 2021">4</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--outfocus" data-pick="1630789200000" role="gridcell" aria-label="5 September, 2021">5</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--outfocus" data-pick="1630875600000" role="gridcell" aria-label="6 September, 2021">6</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--outfocus" data-pick="1630962000000" role="gridcell" aria-label="7 September, 2021">7</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--outfocus" data-pick="1631048400000" role="gridcell" aria-label="8 September, 2021">8</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--outfocus" data-pick="1631134800000" role="gridcell" aria-label="9 September, 2021">9</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--outfocus" data-pick="1631221200000" role="gridcell" aria-label="10 September, 2021">10</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--outfocus" data-pick="1631307600000" role="gridcell" aria-label="11 September, 2021">11</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="picker__footer">
                                    <button class="picker__button--today" type="button" data-pick="1629147600000" aria-controls="input_from" disabled="disabled">Today</button><button class="picker__button--clear" type="button" data-clear="1" aria-controls="input_from" disabled="disabled">Clear</button><button class="picker__button--close" type="button" data-close="true" aria-controls="input_from" disabled="disabled">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="input_to">To</label>
            <input type="text" class="form-control picker__input" id="input_to" placeholder="End Date" readonly="" aria-haspopup="true" aria-expanded="false" aria-readonly="false" aria-owns="input_to_root">
            <div class="picker" id="input_to_root" aria-hidden="true">
                <div class="picker__holder" tabindex="-1">
                    <div class="picker__frame">
                        <div class="picker__wrap">
                            <div class="picker__box">
                                <div class="picker__header">
                                    <div class="picker__month">August</div>
                                    <div class="picker__year">2021</div>
                                    <div class="picker__nav--prev" data-nav="-1" role="button" aria-controls="input_to_table" title="Previous month"> </div>
                                    <div class="picker__nav--next" data-nav="1" role="button" aria-controls="input_to_table" title="Next month"> </div>
                                </div>
                                <table class="picker__table" id="input_to_table" role="grid" aria-controls="input_to" aria-readonly="true">
                                    <thead>
                                        <tr>
                                            <th class="picker__weekday" scope="col" title="Sunday">Sun</th>
                                            <th class="picker__weekday" scope="col" title="Monday">Mon</th>
                                            <th class="picker__weekday" scope="col" title="Tuesday">Tue</th>
                                            <th class="picker__weekday" scope="col" title="Wednesday">Wed</th>
                                            <th class="picker__weekday" scope="col" title="Thursday">Thu</th>
                                            <th class="picker__weekday" scope="col" title="Friday">Fri</th>
                                            <th class="picker__weekday" scope="col" title="Saturday">Sat</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1627765200000" role="gridcell" aria-label="1 August, 2021">1</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1627851600000" role="gridcell" aria-label="2 August, 2021">2</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1627938000000" role="gridcell" aria-label="3 August, 2021">3</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1628024400000" role="gridcell" aria-label="4 August, 2021">4</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1628110800000" role="gridcell" aria-label="5 August, 2021">5</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1628197200000" role="gridcell" aria-label="6 August, 2021">6</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1628283600000" role="gridcell" aria-label="7 August, 2021">7</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1628370000000" role="gridcell" aria-label="8 August, 2021">8</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1628456400000" role="gridcell" aria-label="9 August, 2021">9</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1628542800000" role="gridcell" aria-label="10 August, 2021">10</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1628629200000" role="gridcell" aria-label="11 August, 2021">11</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1628715600000" role="gridcell" aria-label="12 August, 2021">12</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1628802000000" role="gridcell" aria-label="13 August, 2021">13</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1628888400000" role="gridcell" aria-label="14 August, 2021">14</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1628974800000" role="gridcell" aria-label="15 August, 2021">15</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1629061200000" role="gridcell" aria-label="16 August, 2021">16</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus picker__day--today picker__day--highlighted" data-pick="1629147600000" role="gridcell" aria-label="17 August, 2021" aria-activedescendant="true">17</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1629234000000" role="gridcell" aria-label="18 August, 2021">18</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1629320400000" role="gridcell" aria-label="19 August, 2021">19</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1629406800000" role="gridcell" aria-label="20 August, 2021">20</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1629493200000" role="gridcell" aria-label="21 August, 2021">21</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1629579600000" role="gridcell" aria-label="22 August, 2021">22</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1629666000000" role="gridcell" aria-label="23 August, 2021">23</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1629752400000" role="gridcell" aria-label="24 August, 2021">24</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1629838800000" role="gridcell" aria-label="25 August, 2021">25</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1629925200000" role="gridcell" aria-label="26 August, 2021">26</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1630011600000" role="gridcell" aria-label="27 August, 2021">27</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1630098000000" role="gridcell" aria-label="28 August, 2021">28</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1630184400000" role="gridcell" aria-label="29 August, 2021">29</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1630270800000" role="gridcell" aria-label="30 August, 2021">30</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--infocus" data-pick="1630357200000" role="gridcell" aria-label="31 August, 2021">31</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--outfocus" data-pick="1630443600000" role="gridcell" aria-label="1 September, 2021">1</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--outfocus" data-pick="1630530000000" role="gridcell" aria-label="2 September, 2021">2</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--outfocus" data-pick="1630616400000" role="gridcell" aria-label="3 September, 2021">3</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--outfocus" data-pick="1630702800000" role="gridcell" aria-label="4 September, 2021">4</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--outfocus" data-pick="1630789200000" role="gridcell" aria-label="5 September, 2021">5</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--outfocus" data-pick="1630875600000" role="gridcell" aria-label="6 September, 2021">6</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--outfocus" data-pick="1630962000000" role="gridcell" aria-label="7 September, 2021">7</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--outfocus" data-pick="1631048400000" role="gridcell" aria-label="8 September, 2021">8</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--outfocus" data-pick="1631134800000" role="gridcell" aria-label="9 September, 2021">9</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--outfocus" data-pick="1631221200000" role="gridcell" aria-label="10 September, 2021">10</div>
                                            </td>
                                            <td role="presentation">
                                                <div class="picker__day picker__day--outfocus" data-pick="1631307600000" role="gridcell" aria-label="11 September, 2021">11</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="picker__footer">
                                    <button class="picker__button--today" type="button" data-pick="1629147600000" aria-controls="input_to" disabled="disabled">Today</button><button class="picker__button--clear" type="button" data-clear="1" aria-controls="input_to" disabled="disabled">Clear</button><button class="picker__button--close" type="button" data-close="true" aria-controls="input_to" disabled="disabled">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/picker.js"></script>
    <script src="js/picker.date.js"></script>
    <script src="js/main.js"></script>
    <script defer="" src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon="{&quot;rayId&quot;:&quot;68050e3f3bfd1c23&quot;,&quot;token&quot;:&quot;cd0b4b3a733644fc843ef0b185f98241&quot;,&quot;version&quot;:&quot;2021.8.0&quot;,&quot;si&quot;:10}"></script>
}