@model AdminAllCatsQueryModel

@{
    ViewBag.Title = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center text-secondary my-sm-3">@ViewBag.Title</h2>
<hr />
<form method="get">
    <div class="d-flex justify-content-center">
        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="Breed"></label>
                <select asp-for="Breed" class="form-control">
                    <option value="">All</option>

                    @foreach (var breed in Model.Breeds)
                    {
                        <option value="@breed.Id">@breed.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="10" selected>Newest</option>
                    <option value="20">Oldest</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="Filtering"></label>
                <select asp-for="Filtering" class="form-control">
                    <option value="10" selected>All</option>
                    <option value="20">Deleted</option>
                    <option value="30">Available</option>
                </select>
            </div>
        </div>
    </div>
    <p class="text-center my-md-4 align-self-center" style="margin-left: 15px">
        <input class="btn primary-color" type="submit" value="Search" />
    </p>
</form>

@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalCats / AdminAllCatsQueryModel.CatsPerPage);
}

<div class="row mb-5">
    <div class="col-md-6">
        <a class="btn primary-color @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Cats"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-brand="@Model.Breed"
           asp-route-sorting="@((int)Model.Sorting)"><<</a>
    </div>

    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
                                     !Model.Cats.Any();
    }

    <div class="col-md-6">
        <a class="btn primary-color float-sm-right @(shouldButtonBeDisabled ? "disabled" : string.Empty)" style="margin-top: 10px"
           asp-controller="Cats"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-brand="@Model.Breed"
           asp-route-sorting="@((int)Model.Sorting)">>></a>
    </div>
</div>

@if (!Model.Cats.Any())
{
    <h2 class="text-center">No cats found by the given criteria!</h2>
}
else
{
    <partial name="~/Views/Cats/_CatsAllPartial.cshtml" />
}

